# Ignore virtual environment
.venv/
.env
*.tar

# Ignore Python cache
__pycache__/
.ruff_cache/

# Ignore logs
logs/
logs/*
a.txt

# Ignore generated documentation files
docs/modules/*.rst
docs/_build/
docs/_static/
docs/_templates/

# Ignore any accidentally generated RST files on host
*.rst
!docs/index.rst
!docs/conf.py
data/
