# Ignore virtual environment
.venv/

# Ignore Python cache
__pycache__/

# Ignore local dependencies
dependencies/

# Ignore database
chroma_db/

.env

keywords_databank.bak
keywords_databank.dat
keywords_databank.dir